
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/**
 * Canvas
 */

.colorpicker3 { 
  border-radius: 10px; 
  width: 48px;
    height: 48px;
    background-color: black;
}

.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.colors {
  position: fixed;
  margin-left: 10px;
  margin-top: 10px;
}

.color {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color.black { background-color: black; }
.color.red { background-color: red; }
.color.green { background-color: green; }
.color.blue { background-color: blue; }
.color.yellow { background-color: yellow; }

#eraser {
    width: 48px;
    position: absolute;
    left: 55px;
    height: 48px;
    top: 0px;
    border-radius: 25px;
    /* background-color: rgba(0, 0, 0, .75); */
		background-color: grey;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    align-content: center;
}

#wipe {
  position: absolute;
  top: 50px;
  border-radius: 8px;
  opacity: 40%;
  color: white;
  background-color: black;
  left: 1px;
}
